.socials{
    list-style: none;
    padding: 0;
    color: $icon-color;
    margin: 25px 0;
}
.social{
    display: inline-block;
    font-size: 1.5rem;
    &__link{
        display: block;
        text-decoration: none;
        color: inherit;
        width: 32px;
        height: 32px;
        line-height: 32px - $border-width;
        border-radius: 50%;
        border: $border-width solid $icon-color;
        @include hover{
            background-color: $icon-color;
            color: #fff;
        }

    }
    
}