@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');
$primery-color: #ffcc00;
$text-color: #333333;
$secondary-color: #666666;
$icon-color: #cccccc;
$btn-ff: 'Open Sans', sans-serif;
$text-ff: 'Raleway', sans-serif;
$title-ff: 'Roboto', sans-serif;
$border-width: 2px;
$border: $border-width solid $primery-color;